USE [BD_ConsumoCombustible]
GO
/****** Object:  Table [dbo].[Descripcion]    Script Date: 2/12/2025 22:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Descripcion](
	[TIPO_LINEA] [nvarchar](255) NULL,
	[TIPO_MAQUINARIA] [nvarchar](255) NULL,
	[ID] [nvarchar](255) NULL,
	[PLACA] [nvarchar](255) NULL,
	[N_MOTOR] [nvarchar](255) NULL,
	[ANO_FABRICACION] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INFORMACION]    Script Date: 2/12/2025 22:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INFORMACION](
	[FECHA] [datetime] NULL,
	[TIPO] [nvarchar](255) NULL,
	[ID] [nvarchar](255) NULL,
	[PLACA] [nvarchar](255) NULL,
	[TIPO_ACTIVIDAD] [nvarchar](255) NULL,
	[HORAS] [float] NULL,
	[CANTIDAD_ACTIVIDAD] [float] NULL,
	[LINEAS_ANTES_ABASTECIMIENTO] [float] NULL,
	[NIVEL_INICIAL_CM] [float] NULL,
	[GALONES_AUMENTADOS] [float] NULL,
	[NIVEL_FINAL_CM] [float] NULL,
	[LINEAS_DESPUES_ABASTECIMIENTO] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioPerfil]    Script Date: 2/12/2025 22:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioPerfil](
	[IDPerfil] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Apellido] [nvarchar](100) NULL,
	[Cargo] [nvarchar](120) NULL,
	[Ubicacion] [nvarchar](120) NULL,
	[SobreMi] [nvarchar](500) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 2/12/2025 22:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Contrasena] [varchar](255) NOT NULL,
	[Rol] [varchar](20) NOT NULL,
	[Estado] [bit] NOT NULL,
	[Conectado] [bit] NOT NULL,
	[UltimoLogin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Descripcion] ([TIPO_LINEA], [TIPO_MAQUINARIA], [ID], [PLACA], [N_MOTOR], [ANO_FABRICACION]) VALUES (N'Blanca', N'volvo', N'B-1', N'A4H855', N'D12165935A', 2000)
INSERT [dbo].[Descripcion] ([TIPO_LINEA], [TIPO_MAQUINARIA], [ID], [PLACA], [N_MOTOR], [ANO_FABRICACION]) VALUES (N'Blanca', N'volvo', N'B-2', N'C1J916', N'D13136647A1A', 2008)
INSERT [dbo].[Descripcion] ([TIPO_LINEA], [TIPO_MAQUINARIA], [ID], [PLACA], [N_MOTOR], [ANO_FABRICACION]) VALUES (N'Blanca', N'volvo', N'B-3', N'C9T-820', N'D13845933A1E', 2011)
GO
INSERT [dbo].[INFORMACION] ([FECHA], [TIPO], [ID], [PLACA], [TIPO_ACTIVIDAD], [HORAS], [CANTIDAD_ACTIVIDAD], [LINEAS_ANTES_ABASTECIMIENTO], [NIVEL_INICIAL_CM], [GALONES_AUMENTADOS], [NIVEL_FINAL_CM], [LINEAS_DESPUES_ABASTECIMIENTO]) VALUES (CAST(N'2025-03-24T00:00:00.000' AS DateTime), N'volvo', N'B-1', N'A4H855', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[INFORMACION] ([FECHA], [TIPO], [ID], [PLACA], [TIPO_ACTIVIDAD], [HORAS], [CANTIDAD_ACTIVIDAD], [LINEAS_ANTES_ABASTECIMIENTO], [NIVEL_INICIAL_CM], [GALONES_AUMENTADOS], [NIVEL_FINAL_CM], [LINEAS_DESPUES_ABASTECIMIENTO]) VALUES (CAST(N'2025-03-24T00:00:00.000' AS DateTime), N'volvo', N'B-2', N'C1J916', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[INFORMACION] ([FECHA], [TIPO], [ID], [PLACA], [TIPO_ACTIVIDAD], [HORAS], [CANTIDAD_ACTIVIDAD], [LINEAS_ANTES_ABASTECIMIENTO], [NIVEL_INICIAL_CM], [GALONES_AUMENTADOS], [NIVEL_FINAL_CM], [LINEAS_DESPUES_ABASTECIMIENTO]) VALUES (CAST(N'2025-03-24T00:00:00.000' AS DateTime), N'volvo', N'B-3', N'C9T-820', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID], [Usuario], [Contrasena], [Rol], [Estado], [Conectado], [UltimoLogin]) VALUES (1, N'admin', N'admin123', N'admin', 1, 0, NULL)
INSERT [dbo].[Usuarios] ([ID], [Usuario], [Contrasena], [Rol], [Estado], [Conectado], [UltimoLogin]) VALUES (2, N'gerente', N'gerente123', N'gerente', 1, 0, NULL)
INSERT [dbo].[Usuarios] ([ID], [Usuario], [Contrasena], [Rol], [Estado], [Conectado], [UltimoLogin]) VALUES (3, N'surtidor', N'surtidor123', N'surtidor', 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__E3237CF74B12A5CC]    Script Date: 2/12/2025 22:20:27 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UsuarioPerfil] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [Conectado]
GO
ALTER TABLE [dbo].[UsuarioPerfil]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioPerfil_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioPerfil] CHECK CONSTRAINT [FK_UsuarioPerfil_Usuarios]
GO
